{% extends 'layout.html' %} {% block content %}
<h2>Dashboard</h2>
{% if current_user.role == 'employer' %}
<a class="btn btn-success mb-3" href="{{ url_for('post_job') }}"
  >Post New Job</a
>
<h4>Your Jobs</h4>
<ul class="list-group">
  {% for job in jobs %}
  <li class="list-group-item d-flex justify-content-between">
    <div>
      <a href="{{ url_for('job_detail', job_id=job.id) }}">{{ job.title }}</a> -
      {{ job.company }}
    </div>
    <form method="post" action="{{ url_for('delete_job', job_id=job.id) }}">
      <button class="btn btn-sm btn-danger">Delete</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% elif current_user.role == 'jobseeker' %}
<h4>Your Applications</h4>
<ul class="list-group">
  {% for app in applications %}
  <strong>{{ app.job.title }}</strong>
  at {{ app.job.company }}
  <br />
  {% else %}
  <p>No applications yet.</p>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
